.medicine-categories-two {
    display: flex;
    gap: 40px;
    padding-top: 20px;
}

.med-box {
    display: flex;
    background: #fff7f7;
    width: 380px;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    text-decoration: none;
    color: #333;
    transition: 0.2s;
}

.med-box:hover {
    transform: translateY(-5px);
}

.med-big {
    width: 90px;
    margin-right: 20px;
    border-radius: 10px;
}

.med-details h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.med-details p {
    margin-top: 6px;
    color: #6a6a6a;
}
