/* Sidebar */
.sidebar {
  width: 240px;
  background: #d95555;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.sidebar-header {
  text-align: center;
}

.sidebar-header .logo {
  width: 50px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.sidebar-header h2 {
  font-size: 16px;
}

.sidebar-header p {
  font-size: 13px;
}

/* Sidebar Nav */
.sidebar nav ul {
  list-style: none;
}

.sidebar nav ul li {
  margin: 5px 0;
  padding: 8px 18px;
  transition: background 0.3s;
}

.sidebar nav ul li:hover,
.sidebar nav ul li.active {
  background: #b63e3e;
}

.sidebar nav ul li a {
  display: block;
  padding: 8px 15px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  transition: background 0.2s ease, transform 0.2s ease;
}

/* Hover effect */
.sidebar nav ul li a:hover {
  background-color: #d95555;
  transform: translateX(5px);
}

/* Active tab */
.sidebar nav ul li.active a {
  background-color: #d95555;
  font-weight: 600;
}

/* Sidebar Footer */
.sidebar-footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 20px;
  margin-bottom: 10px;
}

.sidebar-footer button {
  border: none;
  padding: 8px;
  background: white;
  color: #d95555;
  border-radius: 6px;
  font-weight: 500;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar-footer button a {
  display: block;
  color: #d95555;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

/* Hover effect */
.sidebar-footer button:hover {
  background: #b63e3e;
}

.sidebar-footer button:hover a {
  color: white;
}